# MySQL bağlantı bilgileri (Railway'den kopyala)
DB_HOST=your-railway-host.railway.app
DB_PORT=3306
DB_USER=root
DB_PASS=your-password
DB_NAME=talhacel_BankSystem

# Railway MySQL SSL gerektiriyorsa true yap
DB_SSL=true

# Render otomatik atar, değiştirme
PORT=3000
