# Railway MySQL - Variables sekmesindeki değerleri buraya kopyala
MYSQLHOST=your-host.railway.app
MYSQLPORT=3306
MYSQLUSER=root
MYSQLPASSWORD=your-password
MYSQLDATABASE=railway

# Render otomatik atar, değiştirme
PORT=3000
